{% extends 'index/index.html' %}


{% block 'header_block' %}
{% endblock 'header_block' %}

{% block 'body_block' %}


    <p>
        <a href={% url 'surfistas' %}>Volver</a>
    </p>

    <p>
        <li>Nombre: {{object.nombre}}</li>
        <li>Apellido: {{object.apellido}}</li>
        <li>Pais: {{object.pais}}</li>
        {% if object.foto %}.
            <li><img src="{{object.foto.url}}" alt="foto" height='80px'></li>
        {% endif %}
        <li>Tarjeta de presentacion: {{object.tarjeta_presentacion  | safe }}</li>
        <li>Fecha creacion: {{object.fecha_creacion  | date:'d-m-Y H:m'}}</li>
    </p>   

{% endblock 'body_block' %}