{% extends 'index/index.html' %}


{% block 'header_block' %}
{% endblock 'header_block' %}

{% block 'body_block' %}


<p>
    <a href={% url 'crear_surfista' %}>Crear surfista</a>
</p>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Buscar</button>
    </form>
    {% if surfistas %}
        {% for surfista in surfistas %}
    <li>
        <a href={% url 'detalle_surfista' surfista.id %}>{{surfista}}</a>|
        <a href={% url 'editar_surfista' surfista.id %}>Editar</a>|
        <a href={% url 'borrar_surfista' surfista.id %}>Borrar</a>
        
    </li>
    {% endfor %}
    {% else %}
        <p>No hay pagina aun</p>
        
    {% endif %}
{% endblock 'body_block' %}