{% extends 'index/index.html' %}


{% block 'header_block' %}
{% endblock 'header_block' %}

{% block 'body_block' %}
    <p>
        {% if msj %}
            {{msj}}
        {% endif %}
    </p>


    <p>
        <li>Nombre:{{request.user.first_name}}</li>
        <li>Apellido:{{request.user.last_name}}</li>
        <li>Email:{{request.user.email}}</li>
        {% if request.user.userextension.avatar %}
            <li>Foto:<img src="{{request.user.userextension.avatar.url}}" alt="Imagen de perfil" height='80px'></li>
        {% endif %}
        <li>Link:{{request.user.userextension.link}}</li>
    </p>

    <a href={% url 'editar_usuario' %}>Editar datos</a>

{% endblock 'body_block' %}